<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR CODE GENERATOR</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/images/generate.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <h1>{{.Title}}</h1>
    </header>

    <div class="myprofile">
        <img src="/static/images/Uzumaki.jpg" alt="an image of a full grown adult">
        <div class="textsual">
            <p>sarah uzumaki</p>
            <p class="icons">
                <i class="fa fa-instagram"></i>
                <i class="fa fa-snapchat"></i>
                <i class="fa fa-github"></i>
            </p>
        </div>
    </div>

    <div class="container">
        <form action="/generate" method="post">
            <label for="dataString">Here, Generate the "QR CODE."</label>
            <input type="text" name="dataString" placeholder="Please, enter a string to be generated">
            <input type="submit" value="Submit">
        </form>
    </div>

    <div class="footer">
        <p>Made with 💝 by Sarah. &COPY; All rights reserved.</p>
    </div>
</body>

</html>